@{
  Layout = "_Layout";
}

@using LuckyPierre.ViewModels

@model LoginViewModel

<h2>Log in to your account</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    <br>
    @Html.TextBoxFor(model => model.Name)
    <br>
    @Html.LabelFor(model => model.Email)
    <br>
    @Html.TextBoxFor(model => model.Email)
    <br>
    @Html.LabelFor(model => model.Password)
    <br>
    @Html.PasswordFor(model => model.Password)
    <br><br>

    <input type="submit" value="Log in" class="btn btn-default" />
}

<p>@Html.ActionLink("Home", "Index", "Home")</p>