@{
  Layout = "_Layout";
}
@using System.Security.Claims
@model LuckyPierre.Models.Treat

<h3>Treat info:</h3>
<hr />
<p>Name: @Html.DisplayFor(model => model.TreatName)</p>
<hr />
<h4>List of flavors:</h4>
@if(@Model.Flavors.Count == 0)
{
  <p>This treat is just plain. Add some flavors if you want!</p>
}
else
{
  @foreach(var join in Model.Flavors)
  {
    <p>@Html.ActionLink($"{join.Flavor.FlavorName}", "Details", "Flavors", new { id = join.FlavorId})</p>
    @if (User.Identity.IsAuthenticated && ViewBag.IsCurrentUser)
    {
      @using (Html.BeginForm("DeleteFlavor", "Treats"))
      {
        @Html.Hidden("joinId", @join.TreatFlavorId)        
        <input type="submit" value="Delete" class="btn" />
      }
    }
  }
}

@if (User.Identity.IsAuthenticated && ViewBag.IsCurrentUser)
{
  <p>@Html.ActionLink("Edit Treat Details", "Edit", new { id = Model.TreatId })</p>
  <p>@Html.ActionLink("Delete Treat", "Delete", new { id = Model.TreatId })</p>
  <p>@Html.ActionLink("Add a Flavor", "AddFlavor", new { id = Model.TreatId })</p>
}
<p>@Html.ActionLink("Back to Treat List", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>