@{
  Layout = "_Layout";
}

@using LuckyPierre.Models
@model LuckyPierre.Models.Flavor

<p>Find a particular treat:</p>
@using (Html.BeginForm("AddTreat", "Flavors", FormMethod.Get, new { id = @Model.FlavorId}))
{ 
  <p>@Html.TextBox("searchTreat")</p>
  <button class="btn" type="submit">Search</button>
}
@if(ViewBag.TreatList != null) //Does it exist?
{
  if(ViewBag.TreatList.Count != 0) //Is there anything in it?
  {
    <h3>Mmmmmmm.... Make some treats with this flavor:</h3>
    <hr />
    <p class="info">@Html.DisplayFor(model => model.FlavorName)</p>
    @using (Html.BeginForm())
    {
      @Html.HiddenFor(model => model.FlavorId)
      <div class="form-group"> 
        @Html.Label("Select Treats:")
        <br>
        @foreach (Treat treat in ViewBag.TreatList)
        {
          @Html.Label(Treat.TreatName)
          @Html.CheckBox("TreatList", false, new { value = Treat.TreatId, @class="checkbox"})

          @Html.Label(Treat.Batches)
          @Html.TextBoxFor("TreatList", false, new { value = Treat.TreatId, @class="textbox"})
        }
      </div>
      <input type="submit" value="Add Treats" class="btn" />
    }
  }
  else
  {
    <p>No treats have been found.</p>
  }
}

<p>@Html.ActionLink("Back to Flavor List", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
